/* This is to apply the formatting for first header */
h1 {
    color: #F5F5DC ;
    text-align: left;
    font-family: sans-serif;
}

h2 h3 h4 {
    font-family: sans-serif;
}

.hidden {
    Display: none;
}

#searchInput {
    font-family: sans-serif;
}

#clearButton {
    font-family: sans-serif;
    color: black;
    background-color: whitesmoke ;
}

.container {
    position: relative;
    text-align: left;
    }
    .bottom-left {
    position: absolute;
    bottom: -5px;
    left: 10px;
    }
    .logo  {
    width: 100%;
    height: auto;
    max-width: 1100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)
}

.paraText {
    font-family: sans-serif;
    line-height: 35px;
}

.bpic {
    max-width: 300px;
    height:auto;
    border: #383535 solid 2px;
    border-radius: 10px;
}

div.scroll-container {
    background-color: #ffffff ;
    overflow: auto;
    white-space: nowrap;
    padding: 5px;
  }
div.scroll-container img {
    padding: 0px;
  }
.bpic2 {
    max-width: 300px;
    height:auto;
    border: #383535 solid 1px;
    border-radius: 10px;
}

/* General scrollbar styles */
::-webkit-scrollbar {
    width: 6px;
  }
  /* Scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px;
    border: 1px solid #ddd;
  }
  /* Scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #B6A28E;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  /* Scrollbar thumb hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #927f6d;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #B6A28E;
    font-family: sans-serif;
    font-weight: 500;
    max-width: 1100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)
  }
  #navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  #navbar a:hover {
    background-color: rgba(29, 120, 206, 0.774);
    transition: 0.8s;
  }
  .content {
    padding: 16px;
}

footer {
    text-align: center;
    background-color: #DCE4C9;
    padding-bottom: 3px;
    padding-top: 18px;
    max-width: 1100px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)
}

/* Add blog style for below sections*/
* {
    box-sizing: border-box;
    max-width: 1100px;
}

/* Add a gray background color with some padding */
body {
    font-family: sans-serif;
    padding: 20px;
    background: #f1f1f1;
    line-height: 20px;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2)
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
    
/* Responsive layout - when the screen is less than 768px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
    .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
    }
    
    .bpic {
        max-width: 250px;
        height:auto;
    }
    
    .bpic2 {
        max-width: 250px;
        height:auto;
        border: #383535 solid 1px;
        border-radius: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
    .bpic {
        max-width: 250px;
        height:auto;
    }
        
    .bpic2 {
        max-width: 250px;
        height:auto;
        border: #383535 solid 1px;
        border-radius: 10px;
    }

    .googlePic {
        max-width: 145px;
        height: auto;
    }
}